{% extends "layout.html" %}
{% block content %}
  <h1 class="h4">{{ teacher.user.name }}</h1>

  <div class="table-responsive mt-5">
    <table class="table table-striped dataTable">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Course</th>
          <th>Day</th>
          <th>Time</th>
          <th>School Year</th>
          <th>Semester</th>
          <th>Year Level</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in teacher.schedules %}
          <tr>
            <td class="align-middle">
                {{ schedule.subject.title }}
            </td>
            <td class="align-middle">{{ schedule.course.name }}</td>
            <td class="align-middle">{{ schedule.day }}</td>
            <td class="align-middle">
              {{ schedule.time_start.strftime("%I:%M %p") }} - {{ schedule.time_end.strftime("%I:%M %p") }}
            </td>
            <td class="align-middle">{{ schedule.school_year }}</td>
            <td class="align-middle">{{ schedule.semester }}</td>
            <td class="align-middle">{{ schedule.year_level }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
