{% extends "layout.html" %}
{% block content %}
  <h1 class="h4 mb-4">Add Student</h1>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="col-md-5 mb-3">
      <label for="course_id">Course</label>
      <select name="course_id" id="course_id" class="form-select">
        <option value="">Select an option</option>
        {% for course in courses %}
          <option value="{{ course.id }}">{{ course.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-5 mb-3">
      <label for="name" class="col-form-label col-form-label-sm">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
        required
        autofocus
      />
    </div>

    <div class="col-md-5 mb-3">
      <label for="email" class="col-form-label col-form-label-sm"
        >Email address</label
      >
      <input
        type="email"
        name="email"
        id="email"
        class="form-control form-control-sm"
        required
      />
    </div>

    <div class="col-md-5 mb-3">
      <label for="password" class="col-form-label col-form-label-sm"
        >Password</label
      >
      <input
        type="password"
        name="password"
        id="password"
        class="form-control form-control-sm"
        required
      />
    </div>

    <div class="col-md-5 mb-3">
      <label
        for="password_confirmation"
        class="col-form-label col-form-label-sm"
        >Confirm password</label
      >
      <input
        type="password"
        name="password_confirmation"
        id="password_confirmation"
        class="form-control form-control-sm"
        required
      />
    </div>

    <div class="col-md-5 mb-3">
      <label for="image" class="col-form-label col-form-label-sm"
        >ID Image</label
      >
      <input
        type="file"
        name="image"
        id="image"
        class="form-control form-control-sm"
        required
      />
      <div class="form-text">
        The filename of your image must match your name<br />
        eg: Juan Dela Cruz should be Juan_Dela_Cruz.jpg
      </div>
    </div>

    <div class="d-flex mt-3 align-items-center">
      <a
        href="{{ url_for('students.list_') }}"
        class="me-1 btn btn-sm btn-secondary"
        >Cancel</a
      >
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
  </form>
{% endblock %}
