{% extends "layout.html" %}
{% block content %}
  <a
    href="{{ url_for('students.create_student') }}"
    class="mb-2 btn btn-sm btn-primary"
  >
    Add Student
  </a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('teachers.list_') }}"
        >Teachers</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Students</a>
    </li>
  </ul>
  <div class="p-3 table-responsive">
    <table class="dataTable table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.user.name }}</td>
            <td>{{ student.user.email }}</td>
            <td>
              <a
                href="{{ url_for('students.student_delete', student_id=student.id) }}"
                class="badge text-bg-danger text-decoration-none"
              >
                Delete
              </a>
              <a
                href="{{ url_for('students.update', student_id=student.id) }}"
                class="badge px-3 text-bg-success text-decoration-none"
                >Edit</a
              >
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
