{% extends "layout.html" %}
{% block content %}
  <h1 class="h4 mb-4">Update Subject</h1>
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="col-md-5">
      <label for="title" class="col-form-label col-form-label-sm">Title</label>
      <input
        value="{{ subject.title }}"
        type="text"
        name="title"
        id="title"
        class="form-control form-control-sm"
      />
    </div>

    <div class="col-md-5">
      <label for="units" class="col-form-label col-form-label-sm">Units</label>
      <input
        value="{{ subject.units }}"
        type="text"
        name="units"
        id="units"
        class="form-control form-control-sm"
      />
    </div>

    <div class="d-flex mt-3 align-items-center">
      <a
        href="{{ url_for('subjects.list_') }}"
        class="me-1 btn btn-sm btn-secondary"
        >Cancel</a
      >
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </div>
  </form>
{% endblock %}
