{% extends "layout.html" %}
{% block content %}
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h4 fw-semibold">Subjects</h1>
    <a
      href="{{ url_for('subjects.create_subject') }}"
      class="mb-2 btn btn-primary"
    >
      Create Subject
    </a>
  </div>

  <form action="" method="get" class="mt-3">
    <div class="row">
      <div class="col-md-5">
        <label for="course_id" class="form-label visually-hidden">Course</label>
        <select name="course_id" id="course_id" class="form-select">
          <option value="0">Select course</option>
          {% for course in courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <label for="year_level" class="form-label visually-hidden"
          >Course</label
        >
        <select name="year_level" id="year_level" class="form-select">
          <option value="0">Select year level</option>
          <option value="1st year">1st year</option>
          <option value="2nd year">2nd year</option>
          <option value="3rd year">3rd year</option>
          <option value="4th year">4th year</option>
        </select>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <label for="semester" class="form-label visually-hidden">Course</label>
        <select name="semester" id="semester" class="form-select">
          <option value="0">Select semester</option>
          <option value="1st semester">1st semester</option>
          <option value="2nd semester">2nd semester</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn mt-2 mb-4 btn-primary">Filter</button>
  </form>

  {% if course %}
    <div class="text-center">
      <h2 class="h5 fw-semibold">{{ course.name }}</h2>
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        {% if subjects|length == 0 %}
          <tr>
            <td colspan="5" class="text-center">
              Select a course to view subjects
            </td>
          </tr>
        {% endif %}

        {% if year_level != '0'%}
          <tr style="background-color: rgba(0, 0, 0, 0.05);">
            <th colspan="5" class="text-center text-uppercase">
              {{ year_level }}
            </th>
          </tr>
        {% endif %}

        {% if semester != '0' %}
          <tr style="background-color: rgba(0, 0, 0, 0.05);">
            <th colspan="5" class="text-center text-uppercase">
              {{ semester }}
            </th>
          </tr>
        {% endif %}

        {% if subjects|length != 0 %}
          <tr>
            <th>Descriptive number</th>
            <th>Course number</th>
            <th>Lecture hours</th>
            <th>Lab hours</th>
            <th>Units</th>
            <th>Action</th>
          </tr>
        {% endif %}

        {% for subject in subjects %}
          <tr>
            <td>{{ subject.title }}</td>
            <td>{{ subject.course_number }}</td>
            <td>{{ subject.lec_hours }}</td>
            <td>{{ subject.lab_hours }}</td>
            <td>{{ subject.units }}</td>
            <td>
              <a
                href="{{ url_for('subjects.subject_delete', subject_id=subject.id) }}"
                class="badge text-bg-danger text-decoration-none"
              >
                Delete
              </a>
              <a
                href="{{ url_for('subjects.update', subject_id=subject.id) }}"
                class="badge px-3 text-bg-success text-decoration-none"
              >
                Edit
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
