{% extends "layout.html" %}
{% block content %}
  <p class="mb-1">Section: {{ schedule.section }}</p>
  <p class="mb-1">Time: {{ schedule.start_time }} - {{ schedule.end_time }}</p>
  <p class="mb-1">Subject: {{ schedule.subject.title }}</p>
  <p>Teacher: {{ schedule.teacher.user.name }}</p>

  <form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="col-md-5">
      <label for="image" class="col-form-label col-form-label-sm"
        >Proof of attendance</label
      >
      <input
        type="file"
        name="image"
        id="image"
        class="form-control form-control-sm"
        required
      />
    </div>

    <button type="submit" class="mt-2 btn btn-sm btn-primary">Submit</button>
  </form>
{% endblock %}
