{% extends "layout.html" %}
{% block content %}
  <p class="mb-1">Subject: {{ schedule.subject.title }}</p>
  <p class="mb-1">Course: {{ schedule.course.name }}</p>
  <p class="mb-1">Day: {{ schedule.day }}</p>
  <p class="mb-1">School Year: {{ schedule.school_year }}</p>
  <p class="mb-1">Semester: {{ schedule.semester }}</p>
  <p class="mb-1">Year Level: {{ schedule.year_level }}</p>
  <p>Instructor: {{ schedule.teacher.user.name }}</p>

  <div class="d-flex align-items-center">
    <button
      id="btn-qr"
      class="mb-2 btn btn-sm btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#qrCode"
    >
      Generate QR
    </button>
  </div>

  <div
    class="modal fade"
    id="qrCode"
    tabindex="-1"
    aria-labelledby="qrCodeLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="qrCodeLabel">QR Code</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <img id="qr-image" width="250" height="250" />
        </div>
        <div class="modal-footer">
          <buttons
            type="button"
            class="btn btn-sm btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="h4 mt-3">Students</h1>

  <div class="table-responsive">
    <table class="dataTable table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in schedule.students %}
          <tr>
            <td>{{ student.user.name }}</td>
            <td>
              <a href="#" class="badge text-bg-danger text-decoration-none"
                >Remove</a
              >
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    const button = document.getElementById("btn-qr");

    button.addEventListener("click", async function () {
      const response = await fetch(
        "{{ url_for('schedules.generate_qr', schedule_id=schedule.id) }}",
      );
      const data = await response.text();

      const img = document.querySelector("#qr-image");

      img.src = `data:image/png;base64,${data}`;
    });
  </script>
{% endblock %}
