{% extends "layout.html" %}
{% block content %}
  <a
    href="{{ url_for('courses.create_course') }}"
    class="mb-3 btn btn-primary"
  >
    Create Course
  </a>

  <div class="table-responsive">
    <table class="dataTable table table-bordered table-striped">
      <thead>
        <tr>
          <th>Course name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.name }}</td>
            <td>
              <a
                href="{{ url_for('courses.course_delete', course_id=course.id) }}"
                class="badge text-bg-danger text-decoration-none"
              >
                Delete
              </a>
              <a
                href="{{ url_for('courses.update', course_id=course.id) }}"
                class="badge px-3 text-bg-success text-decoration-none"
              >
                Edit
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
